	/*
  	FlaticonBuilding icon font: FlaticonBuilding
  	Creation date: 01/12/2017 08:49
  	*/

@font-face {
  font-family: "FlaticonBuilding";
  src: url("./FlaticonBuilding.eot");
  src: url("./FlaticonBuilding.eot?#iefix") format("embedded-opentype"),
       url("./FlaticonBuilding.woff") format("woff"),
       url("./FlaticonBuilding.ttf") format("truetype"),
       url("./FlaticonBuilding.svg#FlaticonBuilding") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "FlaticonBuilding";
    src: url("./FlaticonBuilding.svg#FlaticonBuilding") format("svg");
  }
}

[class^="FlaticonBuilding-"]:before, [class*=" FlaticonBuilding-"]:before,
[class^="FlaticonBuilding-"]:after, [class*=" FlaticonBuilding-"]:after {   
  font-family: FlaticonBuilding;
        /*font-size: 20px;*/
font-style: normal;
/*margin-left: 20px;*/
}

.FlaticonBuilding-001-tool-box-1:before { content: "\f100"; }
.FlaticonBuilding-002-jackhammer:before { content: "\f101"; }
.FlaticonBuilding-003-paint-roller:before { content: "\f102"; }
.FlaticonBuilding-004-drill-tool:before { content: "\f103"; }
.FlaticonBuilding-005-builder:before { content: "\f104"; }
.FlaticonBuilding-006-crane-machine:before { content: "\f105"; }
.FlaticonBuilding-007-electric-saw:before { content: "\f106"; }
.FlaticonBuilding-008-tile:before { content: "\f107"; }
.FlaticonBuilding-009-tool-box:before { content: "\f108"; }
.FlaticonBuilding-010-parquet:before { content: "\f109"; }
.FlaticonBuilding-011-crane:before { content: "\f10a"; }
.FlaticonBuilding-012-wall:before { content: "\f10b"; }
.FlaticonBuilding-013-building:before { content: "\f10c"; }
.FlaticonBuilding-014-blueprint:before { content: "\f10d"; }
.FlaticonBuilding-015-saw:before { content: "\f10e"; }
.FlaticonBuilding-016-plane:before { content: "\f10f"; }
.FlaticonBuilding-017-heating:before { content: "\f110"; }
.FlaticonBuilding-018-angle-grinder:before { content: "\f111"; }
.FlaticonBuilding-019-concrete-mixer:before { content: "\f112"; }
.FlaticonBuilding-020-circular-saw:before { content: "\f113"; }
.FlaticonBuilding-021-wrench:before { content: "\f114"; }
.FlaticonBuilding-022-board:before { content: "\f115"; }
.FlaticonBuilding-023-roof:before { content: "\f116"; }
.FlaticonBuilding-024-measuring-tape:before { content: "\f117"; }
.FlaticonBuilding-025-wallpaper:before { content: "\f118"; }